<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find nextagea_description)/urdf/general/common.xacro" />

  <xacro:macro name="nextagea_base">
    <!-- Work-around for KDL base-link inertia problem; also adheres to ROS standard-->
    <link name="base_link"/>
    <joint name="base_to_dummy" type="fixed">
      <parent link="base_link"/>
      <child link="nextage_base"/>
    </joint>

    <link name="nextage_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nextagea_description/urdf/meshes/BASE_Link_mesh.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.19 0 -0.435" rpy="0 0 0"/>
        <geometry>
          <box size="0.585 0.585 0.72"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0675 0.2575 -0.82" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0675 -0.2575 -0.82" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.4475 0.2575 -0.82" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.4475 -0.2575 -0.82" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="40" />
        <origin xyz="-0.19 0 -0.435" rpy="0 0 0"/>
        <xacro:nxa_box_inertia_def x="0.585" y="0.585" z="0.72" mass="40"/>
      </inertial>
    </link>
    <joint name="base_to_waist" type="fixed">
      <parent link="nextage_base"/>
      <child link="WAIST"/>
    </joint>

  </xacro:macro>

</robot>