[submodule "streaming_controllers"]
	path = streaming_controllers
	url = https://github.com/ipab-slmc/streaming_controllers
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros