[submodule "streaming_controllers"]
	path = streaming_controllers
	url = https://github.com/ipab-slmc/streaming_controllers
[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper
