<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="environment" params="connected_to">
    <xacro:property name="M_PI" value="3.1415926535897931" />


        <link name="floor_link">
            <visual>
            <geometry>
                <box size="50 50 0.01"/>
            </geometry>
            <material name="floor_color">
                <color rgba="1.0 0.823 0.611 1.0"/>
            </material>
            <origin xyz="0 0 -0.02" rpy="0 0 0"/>
            </visual>
            <collision>
            <geometry>
                <box size="10 10 0.01"/>
            </geometry>
            <origin xyz="0 0 -0.02" rpy="0 0 0"/>
            </collision>
        </link>
        <joint name="floor_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${connected_to}" />
            <child link="floor_link" />
        </joint>

        <link name="banner_right">
            <visual>
            <geometry>
                <mesh filename="package://elux_screwing_robot_description/meshes/banner.dae" />
            </geometry>
            </visual>
            <collision>
            <geometry>
                <mesh filename="package://elux_screwing_robot_description/meshes/banner.dae" />
            </geometry>
            </collision>
        </link>
        <joint name="banner_right_to_world" type="fixed">
            <parent link="${connected_to}"/>
            <child link="banner_right"/>
            <origin xyz="0 0.7 0" rpy="0 0 -0.5"/>
        </joint>

        <link name="banner_left">
            <visual>
            <geometry>
                <mesh filename="package://elux_screwing_robot_description/meshes/banner.dae" />
            </geometry>
            </visual>
            <collision>
            <geometry>
                <mesh filename="package://elux_screwing_robot_description/meshes/banner.dae" />
            </geometry>
            </collision>
        </link>
        <joint name="banner_left_to_world" type="fixed">
            <parent link="${connected_to}"/>
            <child link="banner_left"/>
            <origin xyz="0 -1.5 0" rpy="0 0 0.5"/>
        </joint>


    </xacro:macro>
</robot>