<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam ns="nextagea" file="$(find nextagea_gazebo)/config/nextagea_gazebo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node ns="nextagea" name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" args="joint_state_controller
                              larm_controller
                              rarm_controller
                              head_controller
                              torso_controller"/>

  <!-- load the stopped controllers -->
  <!-- please run the controller switch script in nextagea_gazebo/scripts to switch to rarm/larm from both arm controller-->
  <node ns="nextagea" name="stopped_controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" args="--stopped
                              streaming_controller"/>
</launch>
