<?xml version="1.0"?>
<robot name="NextageAOpen"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="fixed_base" value="True" />
  <xacro:property name="ft_sensors" value="True" />
  <xacro:property name="hand_camera" value="True" />

  <xacro:include filename="$(find nextagea_description)/urdf/NextageAOpen_gazebo.urdf.xacro" />

  <!-- Attach the Azure Kinect -->
  <joint name="kinct_mount_joint" type="fixed">
      <origin xyz="0.051 0.0 0.198" rpy="0.0 0.292 0.0" />
      <parent link="HEAD_JOINT1_Link"/>
      <child link="camera_base"/>
  </joint>
  <link name="camera_base"/>

</robot>
