<?xml version="1.0"?>
<robot name="nextagea"
       xmlns:xi="http://www.w3.org/2001/xinclude"
       xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
       xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
       xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include files for vanilla base -->
  <xacro:include filename="$(find nextagea_description)/urdf/base/nextagea_base.xacro" />
  <xacro:include filename="$(find nextagea_description)/urdf/robot/nextagea_robot.xacro" />
  <xacro:include filename="$(find nextagea_description)/urdf/tool/nextagea_tools.xacro" />

  <!-- Arguments for use_cables -->
  <xacro:arg name="use_cables_left" default="false" />
  <xacro:arg name="use_cables_right" default="false" />

  <!-- Include the nextagea base, robot torso, and tools -->
  <xacro:nextagea_robot/>
  <xacro:nextagea_base/>
  <xacro:nextagea_tools prefix="L" use_cables="$(arg use_cables_left)"/>
  <xacro:nextagea_tools prefix="R" use_cables="$(arg use_cables_right)"/>

</robot>
